extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

       

      
        h1= requestedProject.project_name

       
        p= requestedProject.description

      .project-tech-links-box.box
        h6 Technologies
        each tool in requestedProject.technologies
          ul
            li= tool
            
            

 
        a.btn-link(href=`${requestedProject.live_link}`, target='_blank') Live Demo
        a.btn-link(href=`${requestedProject.github_link}` target='_blank') GitHub Repo

    .project-img-box.box


      img.project-img(src=`http://localhost:3000/${requestedProject.image_urls[0]}`, alt= `${requestedProject.project_name}`)
      img.project-img(src=`http://localhost:3000/${requestedProject.image_urls[1]}`, alt= `${requestedProject.project_name}`)
      img.project-img(src=`http://localhost:3000/${requestedProject.image_urls[2]}`, alt= `${requestedProject.project_name}`)


    nav.nav
      a(href='/')
        span &larr;
        |  Back
